{% extends "base.html" %}

{% load widget_tweaks %}
{% load i18n %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Agreements</h1>
</div>

<ul class="nav nav-tabs">
    {% for cluster in clusters %}
    <li class="nav-item">
      <a class="nav-link {% if selected and selected.id == cluster.id %}active{% endif%}" aria-current="page" href="/agreements/{{ cluster.id }}">{{ cluster.name }}</a>
    </li>
    {% endfor %}
</ul>

<br><br>
{% if selected %}

{% for agreement in agreements %}
<h4>{{ agreement.name }}</h4>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Version</th>
        <th scope="col">Document</th>
      </tr>
    </thead>
    <tbody>
    {% for version in agreement.versions %}
      <tr>
        <td>{{ version.version }}</td>
        <td>{{ version.document }}</td>
      </tr>
    {% endfor %}      
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"><a href="/agreements/add_version/{{ selected.id }}/{{ agreement.id }}">Add version</a></td>
        </tr>
    </tfoot>
</table>
{% endfor %}


<br><br>
<a href="/agreements/add/{{ selected.id }}">Add document</a>

{% else %}
<p>Selecteer een cluster</p>
{% endif %}

{% endblock %}