{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>


<div class="row my-4">
    
    {% for cluster in clusters %}
    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header">Cluster: {{ cluster.name }}</h5>
            <div class="card-body">
                <h5 class="card-title">{{ cluster.site_count }}</h5>
                <p class="card-text">Sites</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<form method="post" action="/sites/sync">
    {% csrf_token %}
  
    <button type="submit" class="btn btn-primary">Sync sites</button>
  </form>

{% endblock %}