{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Tools</h1>
</div>


<ul>
    <li><a href="/sites/admin">Download site administrators</a></li>
    <li><a href="/sites/email">Search sites for email</a></li>
    <li><a href="/agreements">Agreements</a></li>
</ul>

{% endblock %}